.all{
    background-color: #505050;
    padding: 1rem;
    margin: 0;
    height: 100vh;
    align-content: center;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    width: 20%;
    justify-self: center;
}